body {
  background-color: #f0f2f5;
}
#profileOutline {
  background-color: #fff;
}
#profileOutline>div {
  display: flex;
  justify-content: center;
}
#profileOutline>div:first-of-type {
  padding-top: 16px;
}
#profileOutline>div:first-of-type>div {
  position: relative;
}
#profileOutline>div:first-of-type>div>div:first-of-type {
  width: 168px;
  height: 168px;
  overflow: hidden;
  border-radius: 50%;
}
#profileOutline>div:first-of-type>div>div:first-of-type img {
  width: inherit;
  height: inherit;
}
#profileOutline>div:first-of-type>div>div:nth-of-type(2) {
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--secondary-button-background);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#profileOutline>div:first-of-type>div>div:nth-of-type(2) i {
  display: inline-block;
  background-image: url("/images/profile/gIdZv-45fSu.png");
  background-position: 0 -42px;
  width: 20px;
  height: 20px;
}
#profileOutline>div:first-of-type>div #profilePhotoUpdateTab>div {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: var(--overlay-alpha-80);
  z-index: 1;
}
#profileOutline>div:first-of-type>div #profilePhotoUpdateTab form {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 700px;
  max-height: 700px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 28px 1px rgba(0,0,0,0.25);
  border-radius: 8px;
  z-index: 2;
}
#profileOutline>div:first-of-type>div #profilePhotoUpdateTab form>div {
  display: flex;
  padding: 16px;
}
#profileOutline>div:first-of-type>div #profilePhotoUpdateTab form>div:first-of-type {
  position: relative;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
#profileOutline>div:first-of-type>div #profilePhotoUpdateTab form>div:first-of-type>div {
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  background-color: var(--secondary-button-background);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#profileOutline>div:first-of-type>div #profilePhotoUpdateTab form>div:first-of-type>div:hover {
  background-color: #d1d3d8;
}
#profileOutline>div:first-of-type>div #profilePhotoUpdateTab form>div:first-of-type>div>div {
  background-image: url("/images/main/mainCenter/d4D8oGNn1YF.png");
  background-position-x: 0px;
  background-position-y: -883px;
  height: 20px;
  width: 20px;
  filter: invert(0.39) sepia(0.21) saturate(2) saturate(1.095) hue-rotate(174deg) brightness(0.94) contrast(0.86);
}
#profileOutline>div:first-of-type>div #profilePhotoUpdateTab form>div:nth-of-type(2) {
  flex-direction: column;
  gap: 24px;
  overflow-y: auto;
  overscroll-behavior-y: contain;
}
#profileOutline>div:first-of-type>div #profilePhotoUpdateTab form>div:nth-of-type(2)>div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#profileOutline>div:first-of-type>div #profilePhotoUpdateTab form>div:nth-of-type(2)>div>div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#profileOutline>div:first-of-type>div #profilePhotoUpdateTab form>div:nth-of-type(2)>div>div:first-of-type>span {
  font-size: 17px;
  font-weight: bold;
}
#profileOutline>div:first-of-type>div #profilePhotoUpdateTab form>div:nth-of-type(2)>div>div:first-of-type label {
  background-color: var(--primary-deemphasized-button-background);
  height: 36px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  color: var(--accent);
  font-weight: bold;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
#profileOutline>div:first-of-type>div #profilePhotoUpdateTab form>div:nth-of-type(2)>div>div:first-of-type label>div {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
#profileOutline>div:first-of-type>div #profilePhotoUpdateTab form>div:nth-of-type(2)>div>div:first-of-type label:hover>div {
  background-color: var(--hover-overlay);
}
#profileOutline>div:first-of-type>div #profilePhotoUpdateTab form>div:nth-of-type(2)>div>div:last-of-type {
  display: flex;
  flex-wrap: wrap;
  min-height: 100px;
  gap: 8px;
}
#profileOutline>div:first-of-type>div #profilePhotoUpdateTab form>div:nth-of-type(2)>div>div:last-of-type>div {
  width: calc((100% / 6) - 8px);
  height: calc((100% / 6) - 8px);
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}
#profileOutline>div:first-of-type>div #profilePhotoUpdateTab form>div:nth-of-type(2)>div>div:last-of-type>div>img {
  width: 100%;
  height: 100%;
}
#profileOutline>div:nth-of-type(2) {
  padding-top: 8px;
}
#profileOutline>div:nth-of-type(2) h1 {
  margin: 0;
}
#profileOutline>div:nth-of-type(3) span {
  font-weight: bold;
  color: var(--accent);
}
#profileOutline>div:nth-of-type(3) span:hover {
  text-decoration: underline;
}
#divider {
  display: flex;
  justify-content: center;
  background-color: #fff;
}
#divider>div {
  flex: 0 1 876px;
  border-bottom: 1px solid var(--divider);
  margin-top: 12px;
}
#profileMenu {
  background-color: #fff;
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 2px var(--shadow-1);
  position: sticky;
  top: var(--header-height);
  z-index: 1;
}
#profileMenu>div {
  flex: 0 1 908px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#profileMenu>div>div:first-of-type {
  display: flex;
}
#profileMenu>div>div:first-of-type>a {
  display: inline-block;
}
#profileMenu>div>div:first-of-type>a>div {
  height: 52px;
  margin: 4px 0;
  padding: 0 16px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#profileMenu>div>div:first-of-type>a>div:hover {
  background-color: var(--hover-overlay);
}
#profileMenu>div>div:first-of-type>a>div span {
  color: var(--secondary-text);
  font-weight: bold;
}
#profileMenu>div>div:first-of-type>a>div:last-of-type {
  gap: 4px;
}
#profileMenu>div>div:first-of-type>a>div:last-of-type>i {
  background-image: url("/images/main/mainCenter/_P4nCKl1-P8.png");
  background-position: 0 -782px;
  filter: var(--filter-secondary-icon);
  width: 16px;
  height: 16px;
}
#profileMenu>div>div:first-of-type>a>div.selected {
  position: relative;
}
#profileMenu>div>div:first-of-type>a>div.selected span {
  color: var(--accent);
}
#profileMenu>div>div:first-of-type>a>div.selected:hover {
  background-color: unset;
}
#profileMenu>div>div:first-of-type>a>div.selected::after {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 100%;
  border-bottom: 3px solid var(--primary-button-background);
}
#profileMenu>div>div:last-of-type {
  display: flex;
  gap: 8px;
}
#profileMenu>div>div:last-of-type>div {
  padding: 0 16px;
  height: 36px;
  background-color: var(--secondary-button-background);
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 4px;
}
#profileMenu>div>div:last-of-type>div span {
  font-weight: bold;
}
#profileMenu>div>div:last-of-type>div:last-of-type i {
  background-image: url("/images/main/mainCenter/_P4nCKl1-P8.png");
  background-position: 0 -731px;
  width: 16px;
  height: 16px;
}
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}
.custom-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}
.custom-scroll::-webkit-scrollbar-track:hover {
  background-color: #e5e8eb;
}
.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: transparent;
}
.custom-scroll::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.custom-scroll:hover {
  scrollbar-color: #ced0d4 transparent;
}
.custom-scroll:hover::-webkit-scrollbar-thumb {
  background-color: #ced0d4;
}
