doctype
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block css
    link(rel="stylesheet" href="/fontello/css/fontello.css")
    title= title
  body
    block content
    block script