:root {
  --always-white: white;
  --always-dark-overlay: rgba(0,0,0,0.4);
  --primary-button-background: #1877f2;
  --primary-deemphasized-button-background: #E7F3FF;
  --secondary-icon: #65676b;
  --primary-text: #050505;
  --secondary-text: #65676b;
  --secondary-button-background: #e4e6eb;
  --hover-overlay: rgba(0,0,0,.05);
  --accent: rgb(24, 118, 242);
  --divider: #ced0d4;
  --comment-background: #f0f2f5;
  --surface-background: #ffffff;
  --new-post-hover-background: #f2f2f2;
  --overlay-alpha-80: rgba(244, 244, 244, 0.8);
  --divider: #CED0D4;
  --disabled-button-background: #E4E6EB;
  --media-inner-border: rgba(0,0,0,0.1);

  --shadow-1: rgba(0,0,0,.1);
  --shadow-2: rgba(0,0,0,.2);
  --shadow-inset: rgba(255,255,255,0.5);
  --fds-soft: cubic-bezier(.08, .52, .52, 1);
  --fds-fast: .2s;

  --filter-always-white: invert(100%);
  --filter-secondary-icon: invert(0.39) sepia(0.21) saturate(2) saturate(1.095) hue-rotate(174deg) brightness(0.94) contrast(0.86);

  --header-height: 60px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--primary-text);

  &:visited {
    color: var(--primary-text);
  }

  &:not([href]) {
    cursor: default;
  }
}

i {
  display: inline-block;
}

input, textarea {
  outline: none;
  
  &:focus::placeholder {
    color: rgba(0, 0, 0, 0.2);
  }
}

button {
  outline: none;
}


body {
  display: grid;
  grid-template-rows: var(--header-height) 1fr;
  font-family: "fontello", Helvetica, Arial, sans-serif; 
  margin: 0;
  // background-color: #F0F2F5;
}

.invisible {
  display: none !important;
  // opacity: 0;
  // z-index: -1;
}

.noScroll {
  overflow-y: hidden;
}

.custom-scroll {
  &::-webkit-scrollbar {
    width: 8px;
  }
  scrollbar-width: thin;
  
  &::-webkit-scrollbar-track {
    background-color: transparent;

    &:hover {
      background-color: #E5E8EB;
    }
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: transparent;
  }
  scrollbar-color: transparent transparent;
  
  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

  &:hover{
    &::-webkit-scrollbar-thumb {
      background-color: #CED0D4;
    }
    scrollbar-color: #CED0D4 transparent;
  }
}