:root {
  --always-white: #fff;
  --always-dark-overlay: rgba(0,0,0,0.4);
  --primary-button-background: #1877f2;
  --secondary-icon: #65676b;
  --primary-text: #050505;
  --secondary-text: #65676b;
  --secondary-button-background: #e4e6eb;
  --hover-overlay: rgba(0,0,0,0.05);
  --accent: #1876f2;
  --divider: #ced0d4;
  --comment-background: #f0f2f5;
  --surface-background: #fff;
  --new-post-hover-background: #f2f2f2;
  --overlay-alpha-80: rgba(244,244,244,0.8);
  --divider: #ced0d4;
  --disabled-button-background: #e4e6eb;
  --media-inner-border: rgba(0,0,0,0.1);
  --shadow-1: rgba(0,0,0,0.1);
  --shadow-2: rgba(0,0,0,0.2);
  --fds-soft: cubic-bezier(0.08, 0.52, 0.52, 1);
  --fds-fast: 0.2s;
  --filter-secondary-icon: invert(0.39) sepia(0.21) saturate(2) saturate(1.095) hue-rotate(174deg) brightness(0.94) contrast(0.86);
  --header-height: 60px;
}
* {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--primary-text);
}
a:visited {
  color: var(--primary-text);
}
input,
textarea {
  outline: none;
}
input:focus::placeholder,
textarea:focus::placeholder {
  color: rgba(0,0,0,0.2);
}
body {
  display: grid;
  grid-template-rows: var(--header-height) 1fr;
  font-family: "fontello", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #f0f2f5;
}
body>div:first-of-type {
  position: relative;
}
body>div:first-of-type>div {
  display: flex;
  align-items: center;
  height: 60px;
}
.invisible {
  display: none !important;
}
.noScroll {
  overflow-y: hidden;
}
