#postDetail {
  width: 100vw;
  height: 100vh;
  display: flex;
}
#postDetailLeft {
  flex: 1 1 0;
  height: 100vh;
  position: relative;
  background-color: #000;
  overflow: hidden;
}
#postDetailLeft #PDHeaderLeft {
  position: fixed;
  left: 0;
  top: 0;
  height: var(--header-height);
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 4;
}
#postDetailLeft #PDHeaderLeft>.exitBtn {
  background-color: var(--secondary-button-background);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#postDetailLeft #PDHeaderLeft>.exitBtn>i {
  background-position: 0px -883px;
  background-image: url("/images/main/mainCenter/d4D8oGNn1YF.png");
  width: 20px;
  height: 20px;
}
#postDetailLeft #PDHeaderLeft .p361ku9c {
  fill: var(--always-white);
}
#postDetailLeft #PDHeaderLeft .b7h9ocf4 {
  transition-timing-function: var(--fds-soft);
}
#postDetailLeft #PDHeaderLeft .aaxa7vy3 {
  fill: var(--primary-button-background);
}
#postDetailLeft #PDHeaderLeft .ms05siws {
  transition-duration: var(--fds-fast);
}
#postDetailLeft #PDHeaderLeft .hwsy1cff {
  transition-property: fill, stroke;
}
#postDetailLeft #PDHeaderLeft .em6zcovv {
  fill: var(--secondary-icon);
}
#postDetailLeft>.fullscreenBtn {
  position: absolute;
  top: 10px;
  right: 6px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#postDetailLeft>.fullscreenBtn>i {
  background-image: url("/images/photoDetail/Dvi5tMELq2N.png");
  background-position: 0 -108px;
  filter: var(--filter-always-white);
  width: 24px;
  height: 24px;
}
#postDetailLeft>.fullscreenBtn.activated>i {
  background-position: 0 -83px;
}
#postDetailLeft #photoArea {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#postDetailLeft #photoArea>img {
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
  background-color: #fff;
}
#postDetailLeft #prevBtn {
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 100%;
  background-color: var(--shadow-1);
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
}
#postDetailLeft #prevBtn:hover {
  opacity: 1;
  transform: translate(-4px);
}
#postDetailLeft #prevBtn>div {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--secondary-button-background);
  display: flex;
  align-items: center;
  justify-content: center;
}
#postDetailLeft #prevBtn>div>i {
  background-image: url("/images/photoDetail/yp2y3v-Wi5v.png");
  background-position: 0px 0px;
  width: 24px;
  height: 24px;
}
#postDetailLeft #nextBtn {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 100%;
  background-color: var(--shadow-1);
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
}
#postDetailLeft #nextBtn:hover {
  opacity: 1;
  transform: translate(4px);
}
#postDetailLeft #nextBtn>div {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--secondary-button-background);
  display: flex;
  align-items: center;
  justify-content: center;
}
#postDetailLeft #nextBtn>div>i {
  background-image: url("/images/photoDetail/yp2y3v-Wi5v.png");
  background-position: 0 -50px;
  width: 24px;
  height: 24px;
}
#postDetailRight {
  width: 360px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
#postDetailRight #PDHeaderRight {
  height: var(--header-height);
  display: flex;
  align-items: center;
  position: fixed;
  right: 0;
  top: 0;
  padding-right: 6px;
  z-index: 4;
}
#postDetailRight #PDHeaderRight>div {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  border-radius: 100%;
  background-color: var(--secondary-button-background);
  cursor: pointer;
}
#postDetailRight #PDHeaderRight>div>a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#postDetailRight #PDHeaderRight>div:hover {
  background-color: #d8dadf;
}
#postDetailRight #PDHeaderRight>#user {
  width: 91px;
  height: 36px;
  border-radius: 18px;
  background-color: unset;
}
#postDetailRight #PDHeaderRight>#user:hover {
  background-color: var(--hover-overlay);
}
#postDetailRight #PDHeaderRight>#user>a>img {
  width: 28px;
  height: 28px;
  border-radius: 100%;
}
#postDetailRight #PDHeaderRight>#user>a>div {
  padding: 0 5px 2px;
  font-weight: 600;
  font-size: 15px;
}
#postDetailRight #PDHeaderRight #alarm,
#postDetailRight #PDHeaderRight #messenger {
  position: relative;
}
#postDetailRight #PDHeaderRight #alarm #unreadAlarmCount,
#postDetailRight #PDHeaderRight #messenger #unreadAlarmCount,
#postDetailRight #PDHeaderRight #alarm #unreadMessageCount,
#postDetailRight #PDHeaderRight #messenger #unreadMessageCount {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -6px;
  top: -6px;
  width: 20px;
  height: 20px;
  background-color: #fa3e3e;
  border-radius: 50%;
  color: #fff;
  font-size: 13px;
}
#postDetailRight div.headerDummy {
  height: var(--header-height);
  border-bottom: 0.5px solid var(--divider);
}
#postDetailRight #postArea {
  height: calc(100vh - var(--header-height));
  overflow: auto;
}
#postDetailRight #postArea>div {
  display: flex;
  flex-direction: column;
  padding: 12px 0 10px;
}
#postDetailRight #postArea>div>div {
  padding: 0 16px;
}
#postDetailRight #postArea>div>div.postHeader {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  position: relative;
}
#postDetailRight #postArea>div>div.postHeader>div:first-of-type {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
#postDetailRight #postArea>div>div.postHeader>div:first-of-type>a,
#postDetailRight #postArea>div>div.postHeader>div:first-of-type>a>img {
  width: 100%;
  height: 100%;
}
#postDetailRight #postArea>div>div.postHeader>div:nth-of-type(2) {
  padding: 0 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#postDetailRight #postArea>div>div.postHeader>div:nth-of-type(2)>a>span {
  font-weight: 600;
}
#postDetailRight #postArea>div>div.postHeader>div:nth-of-type(2)>span {
  color: var(--secondary-text);
  font-weight: 400;
  font-size: 13px;
}
#postDetailRight #postArea>div>div.postHeader>div.postMoreBtn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
#postDetailRight #postArea>div>div.postHeader>div.postMoreBtn>div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--hover-overlay);
  opacity: 0;
}
#postDetailRight #postArea>div>div.postHeader>div.postMoreBtn:hover > div {
  opacity: 1;
}
#postDetailRight #postArea>div>div.postMain {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
}
#postDetailRight #postArea>div>div.postMain>div:first-of-type {
  word-break: break-all;
  padding: 0 16px;
}
#postDetailRight #postArea>div>div.postMain>div:nth-of-type(2) {
  width: 100%;
}
#postDetailRight #postArea>div>div.postMain>div:nth-of-type(2)>div {
  position: relative;
  padding-top: 100%;
}
#postDetailRight #postArea>div>div.postMain>div:nth-of-type(2)>div.twoPhotos {
  padding-top: 50%;
}
#postDetailRight #postArea>div>div.postMain>div:nth-of-type(2)>div>div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
#postDetailRight #postArea>div>div.postMain>div:nth-of-type(2)>div>div>.firstPhotoLine {
  flex: 1 1 0;
  display: flex;
  gap: 2px;
}
#postDetailRight #postArea>div>div.postMain>div:nth-of-type(2)>div>div>.firstPhotoLine>div {
  flex: 1 0 49%;
}
#postDetailRight #postArea>div>div.postMain>div:nth-of-type(2)>div>div>.firstPhotoLine>div>div {
  padding-top: 100%;
  position: relative;
}
#postDetailRight #postArea>div>div.postMain>div:nth-of-type(2)>div>div>.firstPhotoLine>div>div>a {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
#postDetailRight #postArea>div>div.postMain>div:nth-of-type(2)>div>div>.firstPhotoLine>div>div>a>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top: 1px solid var(--shadow-1);
  border-bottom: 1px solid var(--shadow-1);
}
#postDetailRight #postArea>div>div.postMain>div:nth-of-type(2)>div>div>.secondPhotoLine {
  flex: 1 1 0;
  display: flex;
  gap: 2px;
}
#postDetailRight #postArea>div>div.postMain>div:nth-of-type(2)>div>div>.secondPhotoLine>div {
  flex: 1 0 49%;
  height: 100%;
  position: relative;
}
#postDetailRight #postArea>div>div.postMain>div:nth-of-type(2)>div>div>.secondPhotoLine>div>a {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
#postDetailRight #postArea>div>div.postMain>div:nth-of-type(2)>div>div>.secondPhotoLine>div>a>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top: 1px solid var(--shadow-1);
  border-bottom: 1px solid var(--shadow-1);
}
#postDetailRight #postArea>div>div.postMain>div:nth-of-type(2)>div>div>.secondPhotoLine>div>div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--always-dark-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
}
#postDetailRight #postArea>div>div.postMain>div:nth-of-type(2)>div>div>.secondPhotoLine>div>div>span {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}
#postDetailRight #postArea>div>div:nth-of-type(3) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  color: var(--secondary-text);
  height: 43px;
}
#postDetailRight #postArea>div>div:nth-of-type(3) .numLike {
  display: flex;
  cursor: default;
}
#postDetailRight #postArea>div>div:nth-of-type(3) .numLike img {
  width: 18px;
  margin-right: 6px;
}
#postDetailRight #postArea>div>div:nth-of-type(4) {
  display: flex;
  border-top: 1px solid var(--divider);
  border-bottom: 1px solid var(--divider);
  margin: 4px 0;
}
#postDetailRight #postArea>div>div:nth-of-type(4)>div {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  cursor: pointer;
  font-weight: 600;
  color: var(--secondary-text);
  font-size: 15px;
}
#postDetailRight #postArea>div>div:nth-of-type(4)>div>span {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}
#postDetailRight #postArea>div>div:nth-of-type(4)>div .icon--liked {
  background-image: url("/images/main/mainCenter/ApdwcOCLmEg.png");
  background-position: 0px -275px;
}
#postDetailRight #postArea>div>div:nth-of-type(4)>div .icon--like {
  background-image: url("/images/main/mainCenter/ApdwcOCLmEg.png");
  background-position: 0px -313px;
}
#postDetailRight #postArea>div>div:nth-of-type(4)>div .icon--comment {
  background-image: url("/images/main/mainCenter/ApdwcOCLmEg.png");
  background-position: 0px -237px;
}
#postDetailRight #postArea>div>div:nth-of-type(4)>div .icon--share {
  background-image: url("/images/main/mainCenter/ApdwcOCLmEg.png");
  background-position: 0px -389px;
  filter: var(--filter-secondary-icon);
}
#postDetailRight #postArea>div>div:nth-of-type(4):nth-of-type(2)>div>div:first-child {
  font-size: 20px;
  font-weight: 300;
  margin-right: 5px;
}
#postDetailRight #postArea>div>div:nth-of-type(5) .commentItem {
  display: flex;
  padding-top: 4px;
}
#postDetailRight #postArea>div>div:nth-of-type(5) .commentItem[data-depth='1'] {
  padding-left: 50px;
}
#postDetailRight #postArea>div>div:nth-of-type(5) .commentItem>a {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
  overflow: hidden;
}
#postDetailRight #postArea>div>div:nth-of-type(5) .commentItem>a>img {
  width: 100%;
  height: 100%;
}
#postDetailRight #postArea>div>div:nth-of-type(5) .commentItem>div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#postDetailRight #postArea>div>div:nth-of-type(5) .commentItem>div>div:first-of-type {
  display: flex;
  align-items: center;
  gap: 5px;
}
#postDetailRight #postArea>div>div:nth-of-type(5) .commentItem>div>div:first-of-type:hover>div:last-of-type>div {
  opacity: 1;
}
#postDetailRight #postArea>div>div:nth-of-type(5) .commentItem>div>div:first-of-type>div:first-of-type {
  background-color: var(--comment-background);
  border-radius: 18px;
  padding: 8px 12px;
  position: relative;
  word-break: break-word;
  width: fit-content;
}
#postDetailRight #postArea>div>div:nth-of-type(5) .commentItem>div>div:first-of-type>div:first-of-type>a>span {
  font-size: 13px;
  font-weight: bold;
}
#postDetailRight #postArea>div>div:nth-of-type(5) .commentItem>div>div:first-of-type>div:first-of-type>div:nth-of-type(1) {
  font-size: 15px;
}
#postDetailRight #postArea>div>div:nth-of-type(5) .commentItem>div>div:first-of-type>div:first-of-type>div:nth-of-type(2) {
  position: absolute;
  bottom: -11px;
  right: 2px;
  display: flex;
  cursor: default;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
  padding: 2px;
  font-size: 13px;
  color: var(--secondary-text);
}
#postDetailRight #postArea>div>div:nth-of-type(5) .commentItem>div>div:first-of-type>div:first-of-type>div:nth-of-type(2) img {
  width: 16px;
  margin-right: 6px;
}
#postDetailRight #postArea>div>div:nth-of-type(5) .commentItem>div>div:first-of-type>div:last-of-type {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
#postDetailRight #postArea>div>div:nth-of-type(5) .commentItem>div>div:first-of-type>div:last-of-type>div {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  background-color: var(--hover-overlay);
  cursor: pointer;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#postDetailRight #postArea>div>div:nth-of-type(5) .commentItem>div>div:first-of-type>div:last-of-type>div>i {
  width: 16px;
  height: 16px;
  background-image: url("/images/main/mainCenter/_P4nCKl1-P8.png");
  background-position: 0px -731px;
}
#postDetailRight #postArea>div>div:nth-of-type(5) .commentItem>div>div:first-of-type>div:last-of-type>div>div {
  position: absolute;
  top: 115%;
  left: -59px;
  width: 150px;
  background-color: #fff;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1);
}
#postDetailRight #postArea>div>div:nth-of-type(5) .commentItem>div>div:first-of-type>div:last-of-type>div>div>div {
  height: 34px;
  padding: 0 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
#postDetailRight #postArea>div>div:nth-of-type(5) .commentItem>div>div:first-of-type>div:last-of-type>div>div>div:hover {
  background-color: var(--hover-overlay);
}
#postDetailRight #postArea>div>div:nth-of-type(5) .commentItem>div>div:last-of-type {
  margin-left: 12px;
  font-size: 12px;
  color: var(--secondary-text);
}
#postDetailRight #postArea>div>div:nth-of-type(5) .commentItem>div>div:last-of-type span {
  cursor: pointer;
}
#postDetailRight #postArea>div>div:nth-of-type(5) .commentItem>div>div:last-of-type span:not(:last-of-type) {
  font-weight: bold;
}
#postDetailRight #postArea>div>div:nth-of-type(5) .commentItem>div>div:last-of-type span:hover {
  text-decoration: underline;
}
#postDetailRight #postArea>div>div:nth-of-type(5) label {
  display: flex;
  font-size: 15px;
  font-weight: bold;
  padding: 4px 0px;
}
#postDetailRight #postArea>div>div:nth-of-type(5) label>img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 2px 8px 0 0;
}
#postDetailRight #postArea>div>div:nth-of-type(5) label>div {
  flex-grow: 1;
}
#postDetailRight #postArea>div>div:nth-of-type(5) label>div>div:first-of-type {
  background-color: var(--comment-background);
  border-radius: 20px;
  border: none;
  display: flex;
  align-items: center;
}
#postDetailRight #postArea>div>div:nth-of-type(5) label>div>div:nth-of-type(2) {
  font-size: 12px;
  font-weight: normal;
}
#postDetailRight #postArea>div>div:nth-of-type(5) label>div>div:nth-of-type(2) a {
  color: var(--accent);
  cursor: pointer;
}
#postDetailRight #postArea>div>div:nth-of-type(5) label>div>div:nth-of-type(2) a:hover {
  text-decoration: underline;
}
#postDetailRight #postArea>div>div:nth-of-type(5) label>div>div:nth-of-type(2) a:visited {
  color: var(--accent);
}
#postDetailRight #postArea>div>div:nth-of-type(5) label input {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 10px 12px 9px;
  font-size: 15px;
}
#postDetailRight #postArea>div>div .commentSticky {
  position: sticky;
  bottom: 0;
}
#postDetailRight #postArea>div>div .text-liked {
  color: var(--accent);
}
#accountHoverTab {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 16px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 #d3d3d3;
}
#accountHoverTab>div:first-of-type {
  display: flex;
  align-items: center;
}
#accountHoverTab>div:first-of-type>div:first-of-type {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  overflow: hidden;
}
#accountHoverTab>div:first-of-type>div:first-of-type>a>img {
  width: 96px;
  height: 96px;
}
#accountHoverTab>div:first-of-type>div:last-of-type {
  flex-grow: 1;
}
#accountHoverTab>div:first-of-type>div:last-of-type>a>span {
  padding: 0 16px;
  font-size: 20px;
  font-weight: 700;
}
#accountHoverTab>div:last-of-type>div {
  display: flex;
  padding: 6px 0;
  gap: 0 8px;
}
#accountHoverTab>div:last-of-type>div>div {
  width: 48px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-button-background);
  border-radius: 8px;
  cursor: pointer;
}
#accountHoverTab>div:last-of-type>div>div:first-of-type {
  flex-grow: 1;
}
#accountHoverTab>div:last-of-type>div>div:first-of-type>img,
#accountHoverTab>div:last-of-type>div>div:first-of-type svg {
  margin-right: 6px;
}
#accountHoverTab>div:last-of-type>div>div img {
  width: 16px;
  height: 16px;
}
#accountHoverTab>div:last-of-type>div>div span {
  font-size: 15px;
  font-weight: 600;
}
#accountHoverTab>div:last-of-type>div .friendOptBtn {
  position: relative;
}
#accountHoverTab>div:last-of-type>div .friendOptTab {
  position: absolute;
  bottom: -55px;
  left: 0;
  width: 344px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1);
  padding: 8px 0;
}
#accountHoverTab>div:last-of-type>div .friendOptTab>div {
  height: 36px;
  border-radius: 8px;
  padding: 8px;
  margin: 0 8px;
  display: flex;
  align-items: center;
}
#accountHoverTab>div:last-of-type>div .friendOptTab>div:hover {
  background-color: var(--secondary-button-background);
}
#accountHoverTab>div:last-of-type>div .friendOptTab>div span {
  font-weight: 500;
}
#accountHoverTab>div:last-of-type>div .friendOptTab>div.unfriendBtn i {
  background-image: url("/images/main/mainCenter/unfriend.png");
  background-position: 0 -25px;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 12px;
}
#newPostTab>div {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: var(--overlay-alpha-80);
  z-index: 3;
}
#newPostTab form {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 500px;
  min-height: 488px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 28px 1px rgba(0,0,0,0.25);
  border-radius: 8px;
  z-index: 4;
}
#newPostTab form>div {
  display: flex;
  padding: 16px 16px;
}
#newPostTab form>div:first-of-type {
  position: relative;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
#newPostTab form>div:first-of-type>div {
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  background-color: var(--secondary-button-background);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#newPostTab form>div:first-of-type>div:hover {
  background-color: #d1d3d8;
}
#newPostTab form>div:first-of-type>div>i {
  display: inline-block;
  background-image: url("/images/main/mainCenter/d4D8oGNn1YF.png");
  background-position-x: 0px;
  background-position-y: -883px;
  height: 20px;
  width: 20px;
  filter: invert(0.39) sepia(0.21) saturate(2) saturate(1.095) hue-rotate(174deg) brightness(0.94) contrast(0.86);
}
#newPostTab form>div:nth-of-type(2) {
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
  padding: 16px 8px;
}
#newPostTab form>div:nth-of-type(2)>div:first-of-type {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  height: 56px;
  padding: 0 8px;
}
#newPostTab form>div:nth-of-type(2)>div:first-of-type>img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
}
#newPostTab form>div:nth-of-type(2)>div:nth-of-type(2) {
  max-height: 500px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 0 8px;
}
#newPostTab form>div:nth-of-type(2)>div:nth-of-type(2)>textarea {
  flex-shrink: 0;
  font-size: 24px;
  border: none;
  resize: none;
  overflow-y: visible;
}
#newPostTab form>div:nth-of-type(2)>div:nth-of-type(2)>.photoPreviewArea {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
#newPostTab form>div:nth-of-type(2)>div:nth-of-type(2)>.photoPreviewArea>.photoPreview {
  flex: 1 0 200px;
}
#newPostTab form>div:nth-of-type(2)>div:nth-of-type(2)>.photoPreviewArea>.photoPreview>div {
  padding-top: 100%;
  position: relative;
}
#newPostTab form>div:nth-of-type(2)>div:nth-of-type(2)>.photoPreviewArea>.photoPreview>div>img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid var(--divider);
}
#newPostTab form>div:nth-of-type(2)>div:nth-of-type(2)>.photoPreviewArea>.photoPreview>div>div {
  position: absolute;
  top: 8px;
  right: 6px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 0 1px var(--shadow-1);
  transform: scale(0.8);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
#newPostTab form>div:nth-of-type(2)>div:nth-of-type(2)>.photoPreviewArea>.photoPreview>div>div>i {
  display: inline-block;
  background-image: url("/images/main/mainCenter/d4D8oGNn1YF.png");
  background-position: 0 -883px;
  filter: var(--filter-secondary-icon);
  width: 20px;
  height: 20px;
}
#newPostTab form>div:nth-of-type(2)>div:nth-of-type(2)>.photoPreviewArea>.photoPreview>div>div>div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--hover-overlay);
  opacity: 0;
}
#newPostTab form>div:nth-of-type(2)>div:nth-of-type(2)>.photoPreviewArea>.photoPreview>div>div:hover > div {
  opacity: 1;
}
#newPostTab form>div:last-of-type {
  flex-direction: column;
  justify-content: space-between;
  height: 141px;
}
#newPostTab form>div:last-of-type>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border: 1px solid var(--divider);
  border-radius: 8px;
}
#newPostTab form>div:last-of-type>div span {
  font-size: 15px;
  font-weight: bold;
  padding: 0 8px;
}
#newPostTab form>div:last-of-type>div>label {
  cursor: pointer;
}
#newPostTab form>div:last-of-type>div>label>div {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
#newPostTab form>div:last-of-type>div>label>div:hover {
  background-color: var(--hover-overlay);
}
#newPostTab form>div:last-of-type>div>label>div>i {
  display: inline-block;
  height: 24px;
  width: 24px;
}
#newPostTab form>div:last-of-type>div>label>div .icon--photo {
  background-image: url("/images/main/mainCenter/C6EldyzVPp5.png");
  background-position-x: 0px;
  background-position-y: -208px;
}
#newPostTab form>div:last-of-type button {
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  border: none;
  height: 35px;
  background-color: var(--primary-button-background);
  cursor: pointer;
}
#newPostTab form>div:last-of-type button:hover {
  background-color: #0076e4;
}
#newPostTab form>div:last-of-type button[disabled] {
  background-color: var(--disabled-button-background);
  color: #a9a9a9;
  cursor: default;
}
#createTab {
  position: fixed;
  top: 55px;
  right: 16px;
  box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1);
  background-color: #fff;
  border-radius: 8px;
  width: 360px;
  display: flex;
  flex-direction: column;
  padding: 8px 8px;
  z-index: 4;
}
#createTab>div:first-of-type {
  display: flex;
  align-items: center;
  padding: 0 8px 8px;
}
#createTab>div:first-of-type>span {
  font-size: 24px;
  font-weight: 700;
}
#createTab>div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
}
#createTab>div:nth-of-type(2)>#createPostBtn {
  display: flex;
  padding: 0 8px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}
#createTab>div:nth-of-type(2)>#createPostBtn>div:first-of-type {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 8px 12px 8px 0;
  background-color: var(--secondary-button-background);
}
#createTab>div:nth-of-type(2)>#createPostBtn>div:first-of-type i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("/images/includes/fbHeader/dZBPcF9Ivmq.png");
  background-position: 0 -276px;
}
#createTab>div:nth-of-type(2)>#createPostBtn>div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1px;
}
#createTab>div:nth-of-type(2)>#createPostBtn>div:nth-of-type(2)>span:first-of-type {
  font-size: 15px;
  font-weight: 500;
}
#createTab>div:nth-of-type(2)>#createPostBtn>div:nth-of-type(2)>span:last-of-type {
  font-size: 13px;
  color: var(--secondary-text);
}
#createTab>div:nth-of-type(2)>#createPostBtn>div:last-of-type {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--hover-overlay);
  border-radius: 8px;
  opacity: 0;
}
#createTab>div:nth-of-type(2)>#createPostBtn>div:last-of-type:hover {
  opacity: 1;
}
#alarmTab {
  position: fixed;
  top: 55px;
  right: 16px;
  box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1);
  background-color: #fff;
  border-radius: 8px;
  width: 360px;
  max-height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
  padding: 8px 8px;
  overflow-y: auto;
  z-index: 4;
}
#alarmTab>div:first-of-type {
  display: flex;
  align-items: center;
  padding: 0 8px 8px;
}
#alarmTab>div:first-of-type>span {
  font-size: 24px;
  font-weight: 700;
}
#alarmTab>div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
}
#alarmTab>div:nth-of-type(2)>.alarm {
  display: flex;
  padding: 0 8px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}
#alarmTab>div:nth-of-type(2)>.alarm>div:first-of-type {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin: 8px 12px 8px 0;
  overflow: hidden;
}
#alarmTab>div:nth-of-type(2)>.alarm>div:first-of-type img {
  width: 100%;
  height: 100%;
}
#alarmTab>div:nth-of-type(2)>.alarm>div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 0;
}
#alarmTab>div:nth-of-type(2)>.alarm>div:nth-of-type(2)>span:first-of-type {
  font-size: 15px;
  color: var(--secondary-text);
}
#alarmTab>div:nth-of-type(2)>.alarm>div:nth-of-type(2)>span:first-of-type>span {
  font-weight: bold;
}
#alarmTab>div:nth-of-type(2)>.alarm>div:nth-of-type(2)>span:nth-of-type(2) {
  font-size: 15px;
  color: var(--secondary-text);
}
#alarmTab>div:nth-of-type(2)>.alarm>div:nth-of-type(2)>div {
  display: flex;
  gap: 8px;
  padding-top: 8px;
}
#alarmTab>div:nth-of-type(2)>.alarm>div:nth-of-type(2)>div>div {
  flex: 1 1 0;
  height: 36px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
#alarmTab>div:nth-of-type(2)>.alarm>div:nth-of-type(2)>div .confirmFriendBtn {
  background-color: var(--primary-button-background);
  color: #fff;
}
#alarmTab>div:nth-of-type(2)>.alarm>div:nth-of-type(2)>div .deleteFriendBtn {
  background-color: var(--secondary-button-background);
}
#alarmTab>div:nth-of-type(2)>.alarm>div:nth-of-type(2).unread>span:first-of-type {
  color: #000;
}
#alarmTab>div:nth-of-type(2)>.alarm>div:nth-of-type(2).unread>span:nth-of-type(2) {
  color: var(--accent);
  font-weight: bold;
}
#alarmTab>div:nth-of-type(2)>.alarm>div:last-of-type {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--hover-overlay);
  border-radius: 8px;
  opacity: 0;
}
#alarmTab>div:nth-of-type(2)>.alarm>div:last-of-type:hover {
  opacity: 1;
}
#alarmTab>div:nth-of-type(2)>#noAlarm {
  padding: 12px 0;
  color: var(--secondary-text);
  text-align: center;
}
#accountTab {
  position: fixed;
  top: 55px;
  right: 16px;
  box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1);
  background-color: #fff;
  border-radius: 8px;
  width: 360px;
  display: flex;
  flex-direction: column;
  padding: 8px 8px;
  cursor: default;
  z-index: 4;
}
#accountTab #myProfile {
  display: flex;
  padding: 0 8px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}
#accountTab #myProfile>div:first-of-type {
  border-radius: 50%;
  margin: 8px 12px 8px 0;
  overflow: hidden;
}
#accountTab #myProfile>div:first-of-type img {
  width: 60px;
  height: 60px;
}
#accountTab #myProfile>div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#accountTab #myProfile>div:nth-of-type(2)>span:first-of-type {
  font-size: 17px;
  font-weight: bold;
}
#accountTab #myProfile>div:nth-of-type(2)>span:last-of-type {
  font-size: 15px;
  color: var(--secondary-text);
}
#accountTab #myProfile>div:last-of-type {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--hover-overlay);
  border-radius: 8px;
  opacity: 0;
}
#accountTab #myProfile>div:last-of-type:hover {
  opacity: 1;
}
#accountTab .tabDivider {
  border-bottom: 1px solid var(--divider);
  margin: 8px;
}
#accountTab #logout {
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}
#accountTab #logout div:first-of-type {
  width: 36px;
  height: 36px;
  background-color: var(--secondary-button-background);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 12px 8px 0;
}
#accountTab #logout div:first-of-type i {
  background-image: url("/images/main/headRight/_AgLJqLL0tL.png");
  background-position: 0 -1011px;
  filter: var(--filter-secondary-icon);
  height: 20px;
  width: 20px;
}
#accountTab #logout div:nth-of-type(2) {
  font-size: 15px;
}
#accountTab #logout div:last-of-type {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--hover-overlay);
  border-radius: 8px;
  opacity: 0;
}
#accountTab #logout div:last-of-type:hover {
  opacity: 1;
}
#accountTab>div:last-of-type {
  padding: 4px 8px;
  font-size: 13px;
  color: var(--secondary-text);
}
