.noScrollByHeader {
  overflow-y: hidden;
}

#header {
  position: relative;

  &>div {
    display: flex;
    align-items: center;
    height: var(--header-height);
  }
}

#headerLeft {
  position: fixed;
  left: 0;
  top: 0;
  width: 112px;
  padding: 0 16px;
  z-index: 4;

  &>a {
    margin-right: 8px;
  }

  &>form {
    &>div {
      position: absolute;
      top: 19px;
      left: 75px;
      color: #606770;
      font-size: 20px;
    }

    &>label {
      position: absolute;
      top: 19px;
      left: 75px;
      color: #606770;
      font-size: 20px;
      cursor: pointer;
    }

    &>input#hashtagInput {
      min-width: 40px;
      width: 100%;
      height: 40px;
      padding: 9px 16px;
      background-color: var(--comment-background);
      border-radius: 50px;
      font-size: 15px;
      text-indent: 20px;
      border: 0;
    }
  }
}

#headerCenter {
  position: fixed;
  width: 100%;
  box-shadow: 0 0 5px 1px rgba(0,0,0,.1);
  background-color: var(--surface-background);
  justify-content: center;
  padding: 0 110px;
  z-index: 1;

  &>a {
    flex-grow: 1;
    height: 52px;
    min-width: 50px;
    max-width: calc(calc(680px - 32px)/5);

    &>div {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;

      &>svg {
        fill: var(--secondary-icon);
      }

      &:hover {
        background-color: #f2f2f2;
      }
    }

    .selected {
      position: relative;

      &>svg {
        fill: var(--primary-button-background);
      }

      &:hover {
        background-color: unset;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -4px;
        width: 100%;
        border-bottom: 3px solid var(--primary-button-background);
      }
    }

    &+a {
      margin-left: 8px;
    }

    &:last-of-type {
      display: none;
    }
  }

}

#headerRight {    
  position: fixed;
  right: 0;
  top: 0;
  padding-right: 6px;
  z-index: 4;

  &>div {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    border-radius: 100%;
    background-color: var(--secondary-button-background);
    cursor: pointer;

    &>a {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    &:hover {
      background-color: #D8DADF;
    }
  }

  &>#user {
    width: 91px;
    height: 36px;
    border-radius: 18px;
    background-color: unset;

    &:hover {
      background-color: var(--hover-overlay);
    }

    &>a {
      &>img {
        width: 28px;
        height: 28px;
        border-radius: 100%;
      }

      &>div {
        padding: 0 5px 2px;
        font-weight: 600;
        font-size: 15px;
      }
    }
  }

  #alarm, #messenger {
    position: relative;

    #unreadAlarmCount, #unreadMessageCount {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      right: -6px;
      top: -6px;
      width: 20px;
      height: 20px;
      background-color: #fa3e3e;
      border-radius: 50%;
      color: #fff;
      font-size: 13px;
    }
  }
}

.p361ku9c {
  fill: var(--always-white);
}

.b7h9ocf4 {
  transition-timing-function: var(--fds-soft);
}

.aaxa7vy3 {
  fill: var(--primary-button-background);
}

.ms05siws {
  transition-duration: var(--fds-fast);
}

.hwsy1cff {
  transition-property: fill,stroke;
}

.em6zcovv {
  fill: var(--secondary-icon);
}

#hashtagTab {
  position: fixed;
  top: 55px;
  left: 90px;
  box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1);
  background-color: white;
  border-radius: 8px;
  width: 204px;
  z-index: 4;

  li {
    border-radius: 8px;
    padding: 4px 4px;
    margin: 0 4px;
    cursor: pointer;

    &:hover {
      background-color: var(--hover-overlay);
    }

    &:first-of-type {
      margin-top: 4px;
    }
    
    &:last-of-type {
      margin-bottom: 4px;
    }
  }
}

#newPostTab {
  &>div {
    position: fixed;
    top: 0px;
    left 0px;
    height 100vh;
    width: 100vw;
    background-color: var(--overlay-alpha-80);
    z-index: 3;
  }

  form {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 500px;
    min-height: 488px; 
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 0 28px 1px rgba(0,0,0,.25);
    // box-shadow: 0 12px 28px 0 rgba(0,0,0,.1);
    border-radius: 8px; 
    z-index: 4;

    &>div {
      display: flex;
      padding: 16px 16px;

      &:first-of-type {
        position: relative;
        align-items: center;
        justify-content: center;
        height: 60px;
        font-size: 20px;
        font-weight: bold;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        &>div {
          position: absolute;
          top: 12px;
          right: 12px;
          border-radius: 50%;
          height: 36px;
          width: 36px;
          background-color: var(--secondary-button-background);
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          &:hover {
            background-color: #D1D3D8;
          }

          &>i {
            display: inline-block;
            background-image: url(/images/main/mainCenter/d4D8oGNn1YF.png);
            background-position-x:0px;
            background-position-y:-883px;
            height: 20px;
            width: 20px; 
            filter: invert(0.39) sepia(0.21) saturate(2) saturate(1.095) hue-rotate(174deg) brightness(0.94) contrast(0.86);
          }
        }
      }    
      
      &:nth-of-type(2) {
        flex-direction: column;
        flex-grow: 1;
        gap: 4px;
        padding: 16px 8px;

        &>div:first-of-type  {
          display: flex;
          align-items: center;
          font-size: 15px;
          font-weight: bold;
          height: 56px;
          padding: 0 8px;

          &>img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 8px;
          }
        }

        &>div:nth-of-type(2)  {
          max-height: 500px;
          display: flex;
          flex-direction: column;
          overflow-y: auto;
          padding: 0 8px;

          &>textarea {
            flex-shrink: 0;
            font-size: 24px;
            border: none;
            resize: none;
            overflow-y: visible;
          }

          &>.photoPreviewArea {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 8px;

            &>.photoPreview {
              flex: 1 0 200px;

              &>div {
                padding-top: 100%;
                position: relative;

                &>img {
                  position: absolute;
                  top: 0;
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  border-radius: 8px;
                  border: 1px solid var(--divider);
                }

                &>div {
                  position: absolute;
                  top: 8px;
                  right: 6px;
                  width: 36px;
                  height: 36px;
                  border-radius: 50%;
                  background-color: white;
                  box-shadow: 0 0 0 1px var(--shadow-1);
                  transform: scale(0.8);
                  cursor: pointer;
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  &>i {
                    display: inline-block;
                    background-image: url(/images/main/mainCenter/d4D8oGNn1YF.png);
                    background-position: 0 -883px;
                    filter: var(--filter-secondary-icon);
                    width: 20px;
                    height: 20px;
                  }

                  &>div {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: var(--hover-overlay);
                    opacity: 0;
                  }

                  &:hover > div {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
      
      &:last-of-type {
        flex-direction: column;
        justify-content: space-between;
        height: 141px;

        &>div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 8px;
          border: 1px solid var(--divider);
          border-radius: 8px;

          span {
            font-size: 15px;
            font-weight: bold;
            padding: 0 8px;
          }

          &>label {
            cursor: pointer;

            &>div {
              height 36px;
              width: 36px;
              border-radius: 50%;
              border: none;
              display: flex;
              align-items: center;
              justify-content: center;

              &:hover {
                background-color: var(--hover-overlay);
              }
                
              &>i {
                display: inline-block;
                height 24px;
                width: 24px;
              }
              .icon--photo {
                background-image: url(/images/main/mainCenter/C6EldyzVPp5.png);
                background-position-x: 0px;
                background-position-y: -208px;
              }
            }
          }
        }

        button {
          border-radius: 6px;
          font-size: 15px;
          font-weight: bold;
          color: white;
          border: none;
          height: 35px;
          background-color: var(--primary-button-background);
          cursor: pointer;

          &:hover {
            background-color: #0076E4;
          }

          &[disabled] {
            background-color: var(--disabled-button-background);
            color: darkgray;
            cursor: default;
          }
        }
      }
    }
  }
}

#createTab {
  position: fixed;
  top: 55px;
  right: 16px;
  box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1);
  background-color: white;
  border-radius: 8px;
  width: 360px;
  display: flex;
  flex-direction: column;
  padding: 8px 8px;
  z-index: 4;

  &>div:first-of-type  {
    display: flex;
    align-items: center;
    padding: 0 8px 8px;
    
    &>span {
      font-size: 24px;
      font-weight: 700;
    }
  }

  &>div:nth-of-type(2) {
    display: flex;
    flex-direction: column;

    &>#createPostBtn {
      display: flex;
      padding: 0 8px;
      border-radius: 8px;
      cursor: pointer;
      position: relative;

      &>div {
        &:first-of-type {
          width: 36px;
          height 36px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          margin: 8px 12px 8px 0;
          background-color: var(--secondary-button-background);

          i {
            display: inline-block;
            width: 20px;
            height 20px;
            background-image: url(/images/includes/fbHeader/dZBPcF9Ivmq.png);
            background-position: 0 -276px;
          }
        }

        &:nth-of-type(2) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 1px;

          &>span:first-of-type {
            font-size: 15px;
            font-weight: 500;
          }

          &>span:last-of-type {
            font-size: 13px;
            color: var(--secondary-text);
          }
        }

        &:last-of-type {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: var(--hover-overlay);
          border-radius: 8px;
          opacity: 0;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

#alarmTab {
  position: fixed;
  top: 55px;
  right: 16px;
  box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1);
  background-color: white;
  border-radius: 8px;
  width: 360px;
  max-height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
  padding: 8px 8px;
  overflow-y: auto;
  z-index: 4;

  &>div:first-of-type  {
    display: flex;
    align-items: center;
    padding: 0 8px 8px;
    
    &>span {
      font-size: 24px;
      font-weight: 700;
    }
  }

  &>div:nth-of-type(2) {
    display: flex;
    flex-direction: column;

    &>.alarm {
      display: flex;
      padding: 0 8px;
      border-radius: 8px;
      cursor: pointer;
      position: relative;

      &:hover>div:last-of-type {
        opacity: 1;
      }

      &>div {
        z-index: 0;

        &:first-of-type {
          width: 56px;
          height 56px;
          border-radius: 50%;
          margin: 8px 12px 8px 0;
          overflow: hidden;

          img {
            width: 100%;
            height 100%;
          }
        }

        &:nth-of-type(2) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 8px 0;

          &>span:first-of-type {
            font-size: 15px;
            color: var(--secondary-text);

            &>span {
              font-weight: bold;
            }
          }

          &>span:nth-of-type(2) {
            font-size: 15px;
            color: var(--secondary-text);
          }

          &>div {
            display: flex;
            gap: 8px;
            padding-top: 8px;

            &>div {
              flex: 1 1 0;
              height: 36px;
              border-radius: 6px;
              font-size: 15px;
              font-weight: bold;
              display: flex;
              align-items: center;
              justify-content: center;
              // z-index: 1;
            }

            .confirmFriendBtn {
              background-color: var(--primary-button-background);
              color: white;
            }

            .deleteFriendBtn {
              background-color: var(--secondary-button-background);
            }
          }
          
          &.unread {
            &>span:first-of-type {
              color: black;
            }

            &>span:nth-of-type(2) {
              color: var(--accent);
              font-weight: bold;
            }
          }
        }

        &:last-of-type {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: var(--hover-overlay);
          border-radius: 8px;
          opacity: 0;
          z-index: -1;
        }
      }
    }

    &>#noAlarm {
      padding: 12px 0;
      color: var(--secondary-text);
      text-align: center;
    }
  }
}

#accountTab {
  position: fixed;
  top: 55px;
  right: 16px;
  box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1);
  background-color: white;
  border-radius: 8px;
  width: 360px;
  display: flex;
  flex-direction: column;
  padding: 8px 8px;
  cursor: default;
  z-index: 4;

  #myProfile {
    display: flex;
    padding: 0 8px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;

    &>div {
      &:first-of-type {
        border-radius: 50%;
        margin: 8px 12px 8px 0;
        overflow: hidden;

        img {
          width: 60px;
          height 60px;
        }
      }

      &:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &>span:first-of-type {
          font-size: 17px;
          font-weight: bold;
        }

        &>span:last-of-type {
          font-size: 15px;
          color: var(--secondary-text);
        }
      }

      &:last-of-type {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: var(--hover-overlay);
        border-radius: 8px;
        opacity: 0;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .tabDivider {
    border-bottom: 1px solid var(--divider);
    margin: 8px;
  }

  #logout {
    display: flex;
    align-items: center;
    padding: 0 8px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    
    div {
      &:first-of-type {
        width: 36px;
        height: 36px;
        background-color: var(--secondary-button-background);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 8px 12px 8px 0;

        i {
          background-image: url(/images/main/headRight/_AgLJqLL0tL.png);
          background-position: 0 -1011px;
          filter: var(--filter-secondary-icon);
          height: 20px;
          width: 20px;
        }
      }

      &:nth-of-type(2) {
        font-size: 15px;
      }

      &:last-of-type {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: var(--hover-overlay);
        border-radius: 8px;
        opacity: 0;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &>div:last-of-type {
    padding: 4px 8px;
    font-size: 13px;
    color: var(--secondary-text);
  }
}

@media (min-width: 1260px){
  #headerLeft {
    width: 320px;
  }
}

@media (max-height: 789px) and (min-width: 1100px), (max-width: 1379px) and (min-width: 1100px){
  #headerCenter>a {
    max-width: calc(calc(590px - 32px)/5);
  }
}

@media (max-width: 1099px){
  #headerCenter>a {
    max-width: calc(15vw - 55px);

    &:nth-of-type(5), &:last-of-type {
      display: none;
    }
  }
}

@media (max-width: 700px){
  #headerCenter {
    justify-content: flex-start;

    &>a:not(:last-of-type) {
      display: none;
    }
  }
}

@media (max-width: 1260px){
  #headerRight #user {
    display: none;
  }
}
