#main {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 396px);
}

#timeline {
  display: flex;
  width: 908px;
  margin-top: 16px;
  padding: 0 16px;
  gap: 16px;
}

#timelineLeft {
  flex: 1 1 360px;
  // margin: 8px;
  // position: sticky;
  // top: ;
  // bottom: ;

  &>div {
    display: flex;
    flex-direction: column;
    padding: 12px 16px;

    &>div:first-of-type {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &>span {
        font-size: 20px;
        font-weight: bold;
      }
      
      &>a {
        font-size: 17px;
        color: var(--accent);
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }

        &:visited {
          color: var(--accent);
        }
      }
    }
  }

  // 정보
  &>div:first-of-type {
    gap: 12px;

    &>div {
      display: flex;
      align-items: center;

      &>div {
        font-size: 15px;

        &:first-of-type {
          flex: 1 1 0;
          font-weight: bold;
        }

        &:last-of-type {
          flex: 4 1 0;
        }
      }

      &#accountInfoEditBtn {
        background-color: var(--secondary-button-background);
        border-radius: 6px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 8px 0;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          background-color: #D8DADF;
        }
      }
    }

    #profileEditTab {
      &>div {
        position: fixed;
        top: 0px;
        left 0px;
        height 100vh;
        width: 100vw;
        background-color: var(--overlay-alpha-80);
        z-index: 1;
      }

      form {
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 50%;
        top: 50%;
        width: 500px;
        // min-height: 488px; 
        transform: translate(-50%, -50%);
        background-color: white;
        box-shadow: 0 0 28px 1px rgba(0,0,0,.25);
        border-radius: 8px; 
        z-index: 2;

        &>div {
          display: flex;
          padding: 16px;

          &:first-of-type {
            position: relative;
            align-items: center;
            justify-content: center;
            height: 60px;
            font-size: 20px;
            font-weight: bold;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            &>div {
              position: absolute;
              top: 12px;
              right: 12px;
              border-radius: 50%;
              height: 36px;
              width: 36px;
              background-color: var(--secondary-button-background);
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;

              &:hover {
                background-color: #D1D3D8;
              }

              &>div {
                background-image: url(/images/main/mainCenter/d4D8oGNn1YF.png);
                background-position-x:0px;
                background-position-y:-883px;
                height: 20px;
                width: 20px; 
                filter: invert(0.39) sepia(0.21) saturate(2) saturate(1.095) hue-rotate(174deg) brightness(0.94) contrast(0.86);
              }
            }
          }    
          
          &:nth-of-type(2) {
            flex-direction: column;
            gap: 24px;
            margin-bottom: 8px;

            &>div {
              display: flex;
              flex-direction: column;
              gap: 12px;
  
              input {
                font-size: 16px;
                border: none;
                border-bottom: 1px solid;
                width: 90%;
                margin: auto;
              }
            }
          }
          
          &:last-of-type {
            align-items: center;
            justify-content: flex-end;
            gap: 8px;
            height: 70px;
            border-top: 1px solid rgba(0, 0, 0, 0.1);

            &>button {
              height: 36px;
              border: none;
              border-radius: 6px;
              font-weight: bold;
              font-size: 15px;
              cursor: pointer;

              &:first-of-type {
                width: 50px;
              }
              &:last-of-type {
                width: 100px;
                color: white;
                background-color: var(--primary-button-background);
              }
            }
          }
        }
      }
    }
  }

  // 사진
  &>div:nth-of-type(2) {
    &>div {
      display: flex;
      align-items: center;

      // &>div {
      //   font-size: 15px;

      //   &:first-of-type {
      //     flex: 1 1 0;
      //     font-weight: bold;
      //   }

      //   &:last-of-type {
      //     flex: 4 1 0;
      //   }
      // }
    }
  }
}

#timelineRight {
  flex: 1 1 500px;
}
