extends profile

block append css
  link(rel="stylesheet", href="/css/profile/photo/style.css")

block append content
  div#main
    div#profilePhoto
      div.postEffects
        div
          span 사진
          if targetUser.id === user.id
            label
              input#addPhoto.invisible(type="file" accept="image/*" multiple)
              div
                span 사진 추가
                div
        div
          each photo in photos
            div
              div
                img(src=photo.url, alt="")
                if targetUser.id === user.id
                  div.photoOptBtn(data-pid=photo.id)
                    i
                    div
        if targetUser.id === user.id
          .photoOptTab.invisible
            div.photoOptList(data-uid=user.id data-pid)
              div.downloadBtn
                a(download)
                  i
                  span 다운로드
              div.setProfilePhotoBtn
                i
                span 프로필 사진으로 지정
              div.removePhotoBtn
                i
                span 사진 삭제
            div.triangle

block append script
  script(src="/js/profile/photo.js")
