extends profile

block append css
  link(rel="stylesheet", href="/css/includes/timeline.css")
  link(rel="stylesheet", href="/css/profile/timeline/style.css")

block append content
  div#main
    div#timeline
      div#timelineLeft
        div.postEffects
          div 
            span 정보
          div
            div 이메일
            div= user.email
          div
            div 성별
            div= user.gender
          div#accountInfoEditBtn 정보수정
          //- 정보 수정창
          div#profileEditTab.invisible
            div
            form(action="/profile/profileInfo", method="post" enctype="multipart/form-data")
              div 상세 정보 수정
                div#profileEditCloseBtn
                  div
              div
                div
                  div 이메일
                  input(type='text' name='email' placeholder=user.email)
                div
                  div 성별
                  input(type='text' name='gender' placeholder=user.gender)
              div
                button#profileEditCancelBtn.cancelBtn(type="button") 취소
                button#profileEditPostBtn.postBtn(type="submit") 저장
        
        div.postEffects
          div
            span 사진
            a() 모두 보기
          div
        div.postEffects
          div
            span 친구
            a() 모두 보기
          div
      
      div#timelineRight
        include includes/timeline.pug

block append script
  script(src="/js/includes/timeline.js")
  script(src="/js/profile/timeline.js")
