.postEffects {
  box-shadow: 0 1px 2px var(--shadow-2);
  background-color: var(--surface-background);
  border-radius: 8px;
  margin-bottom: 20px;
}
#main {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 396px);
}
#profileFriend {
  display: flex;
  width: 908px;
  margin-top: 16px;
  padding: 0 16px;
}
#profileFriend>div:first-of-type {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  padding: 16px;
}
#profileFriend>div:first-of-type>div:first-of-type>span {
  font-size: 20px;
  font-weight: bold;
}
#profileFriend>div:first-of-type>div:nth-of-type(2) {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
#profileFriend>div:first-of-type>div:nth-of-type(2)>div {
  width: calc(50% - 4px);
  border-radius: 8px;
  box-shadow: 0 0 2px var(--media-inner-border);
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  position: relative;
}
#profileFriend>div:first-of-type>div:nth-of-type(2)>div>a {
  display: inline-block;
}
#profileFriend>div:first-of-type>div:nth-of-type(2)>div>a:first-of-type {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  overflow: hidden;
}
#profileFriend>div:first-of-type>div:nth-of-type(2)>div>a:first-of-type>img {
  width: 100%;
  height: 100%;
}
#profileFriend>div:first-of-type>div:nth-of-type(2)>div>a:nth-of-type(2)>span {
  font-weight: bold;
  font-size: 17px;
}
#profileFriend>div:first-of-type>div:nth-of-type(2)>div>a:nth-of-type(2)>span:hover {
  text-decoration: underline;
}
#profileFriend>div:first-of-type>div:nth-of-type(2)>div>div:first-of-type {
  position: relative;
  border-radius: 6px;
  height: 36px;
  padding: 0 12px;
  background-color: var(--secondary-button-background);
  margin-left: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#profileFriend>div:first-of-type>div:nth-of-type(2)>div>div:first-of-type>span {
  font-weight: bold;
  font-size: 15px;
}
#profileFriend>div:first-of-type>div:nth-of-type(2)>div>div:first-of-type>div:last-of-type {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--hover-overlay);
  opacity: 0;
}
#profileFriend>div:first-of-type>div:nth-of-type(2)>div>div:first-of-type:hover>div:last-of-type {
  opacity: 1;
}
#profileFriend>.friendOptTab {
  position: absolute;
  top: 0;
  left: 0;
  width: 344px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1);
  padding: 8px 0;
}
#profileFriend>.friendOptTab>div {
  height: 36px;
  border-radius: 8px;
  padding: 8px;
  margin: 0 8px;
  display: flex;
  align-items: center;
}
#profileFriend>.friendOptTab>div:hover {
  background-color: var(--secondary-button-background);
}
#profileFriend>.friendOptTab>div span {
  font-size: 15px;
  font-weight: 500;
}
#profileFriend>.friendOptTab>div.unfriendBtn i {
  background-image: url("/images/main/mainCenter/unfriend.png");
  background-position: 0 -25px;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 12px;
}
#accountHoverTab {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 16px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 #d3d3d3;
  z-index: 1;
}
#accountHoverTab>div:first-of-type {
  display: flex;
  align-items: center;
}
#accountHoverTab>div:first-of-type>div:first-of-type {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  overflow: hidden;
}
#accountHoverTab>div:first-of-type>div:first-of-type>a>img {
  width: 96px;
  height: 96px;
}
#accountHoverTab>div:first-of-type>div:last-of-type {
  flex-grow: 1;
}
#accountHoverTab>div:first-of-type>div:last-of-type>a>span {
  padding: 0 16px;
  font-size: 20px;
  font-weight: 700;
}
#accountHoverTab>div:last-of-type>div {
  display: flex;
  padding: 6px 0;
  gap: 0 8px;
}
#accountHoverTab>div:last-of-type>div>div {
  width: 48px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-button-background);
  border-radius: 8px;
  cursor: pointer;
}
#accountHoverTab>div:last-of-type>div>div:first-of-type {
  flex-grow: 1;
}
#accountHoverTab>div:last-of-type>div>div:first-of-type>img,
#accountHoverTab>div:last-of-type>div>div:first-of-type svg {
  margin-right: 6px;
}
#accountHoverTab>div:last-of-type>div>div img {
  width: 16px;
  height: 16px;
}
#accountHoverTab>div:last-of-type>div>div span {
  font-size: 15px;
  font-weight: 600;
}
#accountHoverTab>div:last-of-type>div .friendOptBtn {
  position: relative;
}
#accountHoverTab>div:last-of-type>div .friendOptTab {
  position: absolute;
  bottom: -55px;
  left: 0;
  width: 344px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1);
  padding: 8px 0;
}
#accountHoverTab>div:last-of-type>div .friendOptTab>div {
  height: 36px;
  border-radius: 8px;
  padding: 8px;
  margin: 0 8px;
  display: flex;
  align-items: center;
}
#accountHoverTab>div:last-of-type>div .friendOptTab>div:hover {
  background-color: var(--secondary-button-background);
}
#accountHoverTab>div:last-of-type>div .friendOptTab>div span {
  font-weight: 500;
}
#accountHoverTab>div:last-of-type>div .friendOptTab>div.unfriendBtn i {
  background-image: url("/images/main/mainCenter/unfriend.png");
  background-position: 0 -25px;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 12px;
}
