body {
  background-color: #f0f2f5;
}
main {
  display: flex;
  min-height: calc(100vh - var(--header-height));
}
main>div {
  min-height: inherit;
}
main>div:not([id="mainCenter"]) {
  max-width: 360px;
  flex: 1 1 280px;
}
main>div:not([id="mainCenter"])>div {
  padding-top: 16px;
  overflow-y: auto;
  overscroll-behavior-y: contain;
/* will-change: transform,scroll-position; */
  display: flex;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: var(--header-height);
  min-width: inherit;
  max-width: inherit;
  width: inherit;
  min-height: inherit;
  height: 0;
}
#mainLeft>div ul {
  flex-shrink: 0;
}
#mainLeft>div ul #mainLeftUserImg {
  border-radius: 100%;
}
#mainLeft>div ul li {
  padding: 0 8px;
}
#mainLeft>div ul li>a>div {
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 15px;
}
#mainLeft>div ul li>a>div:hover {
  background-color: #e4e6e9;
}
#mainLeft>div ul li>a>div>img {
  margin: 8px 12px 8px 0;
  width: 36px;
  height: 36px;
}
#mainLeft>div ul #mainLeftMore {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 15px;
  margin: 8px 16px;
  border-radius: 6px;
  height: 36px;
  background-color: var(--secondary-button-background);
}
#mainLeft>div ul #mainLeftMore:hover {
  background-color: #e4e6e9;
}
#mainLeft>div ul #mainLeftMore img {
  margin-left: 5px;
}
#mainLeft>div ul #mainLeftMore ~ li {
  display: none;
}
#mainLeft>div ul #mainLeftDirectImg {
  width: 36px;
  height: 36px;
  border: 1px solid #a7bad8;
  border-radius: 8px;
  margin: 8px 12px 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#mainLeft>div ul #mainLeftDirectImg>img {
  width: 100%;
  height: 100%;
}
#mainLeft>div>div {
  flex-shrink: 0;
  padding: 16px 24px;
  font-size: 12px;
  margin-top: auto;
}
.icon--adchoices {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("/images/login/adchoices.png");
  background-position: 0 -67px;
  filter: grayscale(1);
}
.listDivider {
  border-bottom: 1px solid var(--divider);
  margin: 16px 16px 12px;
}
.listName {
  color: var(--secondary-text);
  font-weight: 600;
  font-size: 17px;
  padding: 0 16px 8px;
}
#mainCenter {
  flex: 1 1 50vw;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mainCenter>div {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}
#mainRight>div #ads>div {
  font-size: 16px;
  font-weight: 600;
  color: var(--secondary-text);
  margin-bottom: 10px;
  padding: 0 16px;
}
#mainRight>div #ads>a>div {
  display: flex;
  align-items: center;
  padding: 8px 8px;
  margin: 0 8px;
  border-radius: 6px;
}
#mainRight>div #ads>a>div>div:first-of-type {
  width: 40%;
}
#mainRight>div #ads>a>div>div:first-of-type>img {
  width: 100%;
  border-radius: 8px;
}
#mainRight>div #ads>a>div>div:last-of-type {
  width: 60%;
  padding: 15px;
  word-break: keep-all;
}
#mainRight>div #ads>a>div>div:last-of-type>span {
  display: inline-block;
}
#mainRight>div #ads>a>div>div:last-of-type>span:first-of-type {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 10px;
}
#mainRight>div #ads>a>div>div:last-of-type>span:last-of-type {
  font-size: 13px;
  color: var(--secondary-text);
}
#mainRight>div #ads>a>div:hover {
  background-color: var(--hover-overlay);
}
#mainRight>div #contacts>.listName {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#mainRight>div #contacts>.listName>div:last-of-type {
  display: flex;
}
#mainRight>div #contacts>.listName>div>div {
  width: 32px;
  height: 32px;
  margin-left: 8px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mainRight>div #contacts>.listName>div>div:hover {
  background-color: var(--hover-overlay);
}
#mainRight>div #contacts li {
  position: relative;
  display: flex;
  padding: 0 8px;
}
#mainRight>div #contacts li>a {
  flex: 1 0 0;
}
#mainRight>div #contacts li>a>div {
  display: flex;
  align-items: center;
  padding: 6px 8px;
  border-radius: 6px;
}
#mainRight>div #contacts li>a>div>img {
  width: 36px;
  height: 36px;
  margin-right: 15px;
  border-radius: 100%;
}
#mainRight>div #contacts li>a>div:hover {
  background-color: var(--hover-overlay);
}
#mainRight>div #contacts>.contactHoverTab {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  width: 400px;
  padding: 16px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 #d3d3d3;
}
#mainRight>div #contacts>.contactHoverTab>div:first-of-type {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  overflow: hidden;
}
#mainRight>div #contacts>.contactHoverTab>div:first-of-type>a>img {
  width: 96px;
  height: 96px;
}
#mainRight>div #contacts>.contactHoverTab>div:last-of-type {
  flex-grow: 1;
}
#mainRight>div #contacts>.contactHoverTab>div:last-of-type>a>span {
  padding: 0 16px;
  font-size: 20px;
  font-weight: 700;
}
@media (min-height: 790px) {
  #mainCenter>div {
    max-width: 680px;
  }
}
@media (max-width: 1099px) {
  main>div:first-of-type {
    display: none;
  }
}
@media (max-width: 900px) {
  main>div:last-of-type {
    display: none;
  }
}
@media (max-width: 900px) {
  body {
    min-width: 450px;
  }
}
