:root {
  --always-white: #fff;
  --primary-button-background: #1877f2;
  --secondary-icon: #65676b;
  --primary-text: #050505;
  --secondary-text: #65676b;
  --secondary-button-background: #e4e6eb;
  --hover-overlay: rgba(0,0,0,0.05);
  --accent: #1876f2;
  --divider: #ced0d4;
  --comment-background: #f0f2f5;
  --surface-background: #fff;
  --new-post-hover-background: #f2f2f2;
  --overlay-alpha-80: rgba(244,244,244,0.8);
  --divider: #ced0d4;
  --disabled-button-background: #e4e6eb;
  --shadow-2: rgba(0,0,0,0.2);
  --fds-soft: cubic-bezier(0.08, 0.52, 0.52, 1);
  --fds-fast: 0.2s;
  --filter-secondary-icon: invert(0.39) sepia(0.21) saturate(2) saturate(1.095) hue-rotate(147deg) brightness(0.94) contrast(0.86);
  --header-height: 60px;
}
* {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--primary-text);
}
a:visited {
  color: var(--primary-text);
}
input,
textarea {
  outline: none;
}
input:focus::placeholder,
textarea:focus::placeholder {
  color: rgba(0,0,0,0.2);
}
body {
  display: grid;
  grid-template-rows: var(--header-height) 1fr;
  font-family: "fontello", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #f0f2f5;
}
body>div:first-of-type {
  position: relative;
}
body>div:first-of-type>div {
  display: flex;
  align-items: center;
  height: 60px;
}
.invisible {
  display: none;
}
#headerLeft {
  position: fixed;
  left: 0;
  top: 0;
  width: 112px;
  padding: 0 16px;
  z-index: 2;
}
#headerLeft>a {
  margin-right: 8px;
}
#headerLeft>div {
  position: absolute;
  top: 19px;
  left: 75px;
  color: #606770;
  font-size: 20px;
}
#headerLeft>form>input {
  min-width: 40px;
  width: 100%;
  height: 40px;
  padding: 9px 16px;
  background-color: var(--comment-background);
  border-radius: 50px;
  font-size: 15px;
  text-indent: 20px;
  border: 0;
}
#headerCenter {
  position: fixed;
  width: 100%;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
  background-color: var(--surface-background);
  justify-content: center;
  padding: 0 110px;
  z-index: 1;
}
#headerCenter>a {
  flex-grow: 1;
  height: 52px;
  min-width: 50px;
  max-width: calc(calc(680px - 32px) / 5);
}
#headerCenter>a>div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
#headerCenter>a>div>svg {
  fill: var(--secondary-icon);
}
#headerCenter>a>div:hover {
  background-color: #f2f2f2;
}
#headerCenter>a .selected {
  position: relative;
}
#headerCenter>a .selected>svg {
  fill: var(--primary-button-background);
}
#headerCenter>a .selected:hover {
  background-color: unset;
}
#headerCenter>a .selected::after {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 100%;
  border-bottom: 3px solid var(--primary-button-background);
}
#headerCenter>a+a {
  margin-left: 8px;
}
#headerCenter>a:last-of-type {
  display: none;
}
#headerRight {
  justify-content: space-around;
  position: fixed;
  right: 0;
  top: 0;
  padding-right: 6px;
  z-index: 2;
}
#headerRight>div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--secondary-button-background);
}
#headerRight>div:hover {
  background-color: #d8dadf;
  cursor: pointer;
}
#headerRight #user {
  width: 91px;
  height: 36px;
  border-radius: 18px;
  background-color: unset;
  position: relative;
}
#headerRight #user:hover {
  background-color: var(--hover-overlay);
}
#headerRight #user>img {
  width: 28px;
  height: 28px;
  border-radius: 100%;
}
#headerRight #user>div {
  padding: 0 5px 2px;
  font-weight: 600;
  font-size: 15px;
}
.p361ku9c {
  fill: var(--always-white);
}
.b7h9ocf4 {
  transition-timing-function: var(--fds-soft);
}
.aaxa7vy3 {
  fill: var(--primary-button-background);
}
.ms05siws {
  transition-duration: var(--fds-fast);
}
.hwsy1cff {
  transition-property: fill, stroke;
}
.em6zcovv {
  fill: var(--secondary-icon);
}
main {
  display: flex;
  justify-content: space-between;
  min-height: calc(100vh - var(--header-height));
}
main>div {
  min-height: inherit;
  flex-grow: 1;
}
main>div:not([id="mainCenter"]) {
  max-width: 320px;
  width: 25vw;
  flex-basis: 25%;
  min-width: 280px;
}
main>div:not([id="mainCenter"])>div {
  padding: 16px 8px 0 8px;
  overflow-y: auto;
  overscroll-behavior-y: contain;
/* will-change: transform,scroll-position; */
  display: flex;
  flex-direction: column;
  position: fixed;
  top: var(--header-height);
  min-width: inherit;
  max-width: inherit;
  width: inherit;
  min-height: inherit;
  height: 0;
}
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}
.custom-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}
.custom-scroll::-webkit-scrollbar-track:hover {
  background-color: #e5e8eb;
}
.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: transparent;
}
.custom-scroll:hover::-webkit-scrollbar-thumb {
  background-color: #ced0d4;
}
.custom-scroll::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
#mainLeft ul {
  flex-shrink: 0;
}
#mainLeft ul #mainLeftUserImg {
  border-radius: 100%;
}
#mainLeft ul li>a>div {
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 15px;
}
#mainLeft ul li>a>div:hover {
  background-color: #e4e6e9;
}
#mainLeft ul li>a>div>img {
  margin: 8px 12px 8px 0;
  width: 36px;
  height: 36px;
}
#mainLeft ul #mainLeftMore {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 15px;
  margin: 8px 8px;
  padding: 6px 0;
  border-radius: 6px;
  height: 36px;
  background-color: var(--secondary-button-background);
}
#mainLeft ul #mainLeftMore:hover {
  background-color: #e4e6e9;
}
#mainLeft ul #mainLeftMore img {
  margin-left: 5px;
}
#mainLeft ul #mainLeftMore ~ li {
  display: none;
}
#mainLeft ul #mainLeftDirectImg {
  width: 36px;
  height: 36px;
  border: 1px solid #a7bad8;
  border-radius: 8px;
  margin: 8px 12px 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#mainLeft ul #mainLeftDirectImg>img {
  width: 100%;
  height: 100%;
}
#mainLeft>div {
  flex-shrink: 0;
  padding: 16px;
  font-size: 12px;
  margin-top: auto;
}
#mainLeft>div>div {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("/images/login/adchoices.png");
  background-position: 0 -67px;
  filter: grayscale(1);
}
.listDivider {
  border-bottom: 1px solid var(--divider);
  margin: 16px 8px 12px;
}
.listName {
  color: var(--secondary-text);
  font-weight: 600;
  font-size: 17px;
  padding: 0 8px 8px;
}
#mainCenter {
  flex-basis: 50%;
  min-width: 0;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mainCenter>div {
  max-width: 590px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}
#mainCenter #storyArea {
  display: flex;
  margin-bottom: 25px;
}
#mainCenter #storyArea>div {
  flex-basis: 20%;
  flex-grow: 1;
  background-color: var(--secondary-button-background);
  border-radius: 10px;
  height: auto;
}
#mainCenter #storyArea>div+div {
  margin-left: 8px;
}
#mainCenter #storyArea>div>a>div {
  position: relative;
}
#mainCenter #storyArea>div img[id^="storyBgImg"] {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
#mainCenter #storyArea>div div[id^="storyUserImg"] {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  margin: 12px;
  background-color: var(--hover-overlay);
  border-radius: 100%;
}
#mainCenter #storyArea>div .storyUserImg_exist {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
  border: 4px solid var(--accent);
}
#mainCenter #storyArea>div .storyUserImg_existimg {
  height: 40px;
}
#mainCenter #storyArea>div div[id^="storyUserName"] {
  position: absolute;
  bottom: 0;
  font-weight: 600;
  color: var(--always-white);
  margin: 8px 12px;
  font-size: 15px;
}
#mainCenter #afterStory {
  width: 100%;
  max-width: 500px;
  align-self: center;
}
#mainCenter #afterStory .postEffects {
  box-shadow: 0 1px 2px var(--shadow-2);
  background-color: var(--surface-background);
  border-radius: 8px;
  margin-bottom: 20px;
}
#mainCenter #afterStory #newPostArea {
  padding: 12px 16px 10px;
  display: flex;
  flex-direction: column;
}
#mainCenter #afterStory #newPostArea>div:first-of-type {
  display: flex;
}
#mainCenter #afterStory #newPostArea>div:first-of-type>img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 8px;
}
#mainCenter #afterStory #newPostArea>div:first-of-type div {
  border-radius: 20px;
  background-color: var(--comment-background);
  flex-grow: 1;
  padding: 0 12px;
  display: flex;
  align-items: center;
  color: var(--secondary-text);
  cursor: pointer;
}
#mainCenter #afterStory #newPostArea>div:first-of-type div:hover {
  background-color: rgba(0,0,0,0.1);
}
#mainCenter #afterStory #newPostArea>div:nth-of-type(2) {
  border-top: solid 1px var(--secondary-button-background);
  margin: 10px 0;
}
#mainCenter #afterStory #newPostArea>div:last-of-type {
  display: flex;
}
#mainCenter #afterStory #newPostArea>div:last-of-type>a {
  flex-grow: 1;
}
#mainCenter #afterStory #newPostArea>div:last-of-type>a>div {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  padding: 8px;
  color: var(--secondary-text);
  font-weight: 600;
  font-size: 15px;
}
#mainCenter #afterStory #newPostArea>div:last-of-type>a>div:hover {
  background-color: var(--new-post-hover-background);
}
#mainCenter #afterStory #newPostArea>div:last-of-type img {
  margin-right: 8px;
}
#mainCenter #afterStory #newPostTab>div {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: var(--overlay-alpha-80);
  z-index: 1;
}
#mainCenter #afterStory #newPostTab form {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 500px;
  min-height: 488px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 28px 1px rgba(0,0,0,0.1);
  border-radius: 8px;
  z-index: 2;
}
#mainCenter #afterStory #newPostTab form>div {
  display: flex;
  padding: 16px 16px;
}
#mainCenter #afterStory #newPostTab form>div:first-of-type {
  position: relative;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
#mainCenter #afterStory #newPostTab form>div:first-of-type>div {
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  background-color: var(--secondary-button-background);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#mainCenter #afterStory #newPostTab form>div:first-of-type>div:hover {
  background-color: #d1d3d8;
}
#mainCenter #afterStory #newPostTab form>div:first-of-type>div>div {
  background-image: url("/images/main/mainCenter/d4D8oGNn1YF.png");
  background-position-x: 0px;
  background-position-y: -883px;
  height: 20px;
  width: 20px;
  filter: invert(0.39) sepia(0.21) saturate(2) saturate(1.095) hue-rotate(174deg) brightness(0.94) contrast(0.86);
}
#mainCenter #afterStory #newPostTab form>div:nth-of-type(2) {
  flex-direction: column;
  flex-grow: 1;
}
#mainCenter #afterStory #newPostTab form>div:nth-of-type(2)>div {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  height: 56px;
  padding-bottom: 16px;
}
#mainCenter #afterStory #newPostTab form>div:nth-of-type(2)>div>img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
}
#mainCenter #afterStory #newPostTab form>div:nth-of-type(2)>textarea {
  font-size: 24px;
  border: none;
  resize: none;
}
#mainCenter #afterStory #newPostTab form>div:last-of-type {
  flex-direction: column;
  justify-content: space-between;
  height: 141px;
}
#mainCenter #afterStory #newPostTab form>div:last-of-type>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border: 1px solid var(--divider);
  border-radius: 8px;
}
#mainCenter #afterStory #newPostTab form>div:last-of-type>div span {
  font-size: 15px;
  font-weight: bold;
  padding: 0 8px;
}
#mainCenter #afterStory #newPostTab form>div:last-of-type>div>div {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#mainCenter #afterStory #newPostTab form>div:last-of-type>div>div:hover {
  background-color: var(--hover-overlay);
}
#mainCenter #afterStory #newPostTab form>div:last-of-type>div>div>label>div {
  background-image: url("/images/main/mainCenter/C6EldyzVPp5.png");
  background-position-x: 0px;
  background-position-y: -208px;
  height: 24px;
  width: 24px;
}
#mainCenter #afterStory #newPostTab form>div:last-of-type button {
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  border: none;
  height: 35px;
  background-color: var(--primary-button-background);
  cursor: pointer;
}
#mainCenter #afterStory #newPostTab form>div:last-of-type button:hover {
  background-color: #0076e4;
}
#mainCenter #afterStory #newPostTab form>div:last-of-type button[disabled] {
  background-color: var(--disabled-button-background);
  color: #a9a9a9;
  cursor: default;
}
#mainCenter #afterStory #postArea>div {
  display: flex;
  flex-direction: column;
  padding: 12px 16px 10px;
}
#mainCenter #afterStory #postArea>div>div:first-of-type {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
#mainCenter #afterStory #postArea>div>div:first-of-type>a:first-of-type>div {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
}
#mainCenter #afterStory #postArea>div>div:first-of-type>div:first-of-type {
  padding: 0 10px;
  flex-grow: 1;
}
#mainCenter #afterStory #postArea>div>div:first-of-type>div:first-of-type>div:first-of-type {
  font-weight: 600;
}
#mainCenter #afterStory #postArea>div>div:first-of-type>div:first-of-type>div:last-of-type {
  color: var(--secondary-text);
  font-weight: 400;
  font-size: 13px;
}
#mainCenter #afterStory #postArea>div>div:first-of-type>div:last-of-type {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mainCenter #afterStory #postArea>div>div:nth-of-type(3) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  color: var(--secondary-text);
  height: 43px;
}
#mainCenter #afterStory #postArea>div>div:nth-of-type(3) .numLike {
  display: flex;
  cursor: default;
}
#mainCenter #afterStory #postArea>div>div:nth-of-type(3) .numLike img {
  width: 18px;
  margin-right: 6px;
}
#mainCenter #afterStory #postArea>div>div:nth-of-type(4) {
  display: flex;
  border-top: 1px solid var(--divider);
  border-bottom: 1px solid var(--divider);
  margin: 4px 0;
}
#mainCenter #afterStory #postArea>div>div:nth-of-type(4)>div {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  cursor: pointer;
  font-weight: 600;
  color: var(--secondary-text);
  font-size: 15px;
}
#mainCenter #afterStory #postArea>div>div:nth-of-type(4)>div>span {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}
#mainCenter #afterStory #postArea>div>div:nth-of-type(4)>div .icon--liked {
  background-image: url("/images/main/mainCenter/ApdwcOCLmEg.png");
  background-position: 0px -275px;
}
#mainCenter #afterStory #postArea>div>div:nth-of-type(4)>div .icon--like {
  background-image: url("/images/main/mainCenter/ApdwcOCLmEg.png");
  background-position: 0px -313px;
}
#mainCenter #afterStory #postArea>div>div:nth-of-type(4)>div .icon--comment {
  background-image: url("/images/main/mainCenter/ApdwcOCLmEg.png");
  background-position: 0px -237px;
}
#mainCenter #afterStory #postArea>div>div:nth-of-type(4)>div .icon--share {
  background-image: url("/images/main/mainCenter/ApdwcOCLmEg.png");
  background-position: 0px -389px;
  filter: var(--filter-secondary-icon);
}
#mainCenter #afterStory #postArea>div>div:nth-of-type(4):nth-of-type(2)>div>div:first-child {
  font-size: 20px;
  font-weight: 300;
  margin-right: 5px;
}
#mainCenter #afterStory #postArea>div>div:last-of-type .commentItem {
  display: flex;
  padding-top: 4px;
}
#mainCenter #afterStory #postArea>div>div:last-of-type .commentItem>img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}
#mainCenter #afterStory #postArea>div>div:last-of-type .commentItem>div>div:first-of-type {
  background-color: var(--comment-background);
  border-radius: 18px;
  padding: 8px 12px;
  position: relative;
  word-break: break-word;
  width: fit-content;
}
#mainCenter #afterStory #postArea>div>div:last-of-type .commentItem>div>div:first-of-type>div:first-of-type {
  font-size: 13px;
  font-weight: bold;
}
#mainCenter #afterStory #postArea>div>div:last-of-type .commentItem>div>div:first-of-type>div:nth-of-type(2) {
  font-size: 15px;
}
#mainCenter #afterStory #postArea>div>div:last-of-type .commentItem>div>div:first-of-type>div:nth-of-type(3) {
  position: absolute;
  bottom: -11px;
  right: 2px;
  display: flex;
  cursor: default;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
  padding: 2px;
  font-size: 13px;
  color: var(--secondary-text);
}
#mainCenter #afterStory #postArea>div>div:last-of-type .commentItem>div>div:first-of-type>div:nth-of-type(3) img {
  width: 16px;
  margin-right: 6px;
}
#mainCenter #afterStory #postArea>div>div:last-of-type .commentItem>div>div:last-of-type {
  margin-left: 12px;
  font-size: 12px;
  color: var(--secondary-text);
}
#mainCenter #afterStory #postArea>div>div:last-of-type .commentItem>div>div:last-of-type span {
  cursor: pointer;
}
#mainCenter #afterStory #postArea>div>div:last-of-type .commentItem>div>div:last-of-type span:not(:last-of-type) {
  font-weight: bold;
}
#mainCenter #afterStory #postArea>div>div:last-of-type .commentItem>div>div:last-of-type span:hover {
  text-decoration: underline;
}
#mainCenter #afterStory #postArea>div>div:last-of-type label {
  display: flex;
  font-size: 15px;
  font-weight: bold;
  height: 44px;
  padding: 4px 0px;
}
#mainCenter #afterStory #postArea>div>div:last-of-type label>img {
  align-self: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}
#mainCenter #afterStory #postArea>div>div:last-of-type label div {
  flex-grow: 1;
  background-color: var(--comment-background);
  border-radius: 20px;
  border: none;
  display: flex;
  align-items: center;
}
#mainCenter #afterStory #postArea>div>div:last-of-type label input {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 10px 12px 9px;
  font-size: 15px;
}
#mainCenter #afterStory #postArea>div>div .text-liked {
  color: #2078f4;
}
#mainRight {
  right: 0;
}
#mainRight #ads>div:first-of-type {
  font-size: 16px;
  font-weight: 600;
  color: var(--secondary-text);
  margin-bottom: 10px;
  padding: 0 8px;
}
#mainRight #ads>div:nth-last-of-type(2) {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 6px;
}
#mainRight #ads>div:nth-last-of-type(2)>img {
  width: 40%;
  border-radius: 8px;
}
#mainRight #ads>div:nth-last-of-type(2)>a {
  padding: 15px;
}
#mainRight #ads>div:nth-last-of-type(2)>a>div:first-of-type {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 10px;
}
#mainRight #ads>div:nth-last-of-type(2)>a>div:last-of-type {
  font-size: 13px;
  color: var(--secondary-text);
}
#mainRight #ads>div:nth-last-of-type(2):hover {
  background-color: var(--hover-overlay);
}
#mainRight li>a>div {
  display: flex;
  align-items: center;
  padding: 6px 8px;
  border-radius: 6px;
}
#mainRight li>a>div>img {
  width: 36px;
  height: 36px;
  margin-right: 15px;
  border-radius: 100%;
}
#mainRight li>a>div:hover {
  background-color: var(--hover-overlay);
}
#mainRight #contacts>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#mainRight #contacts>div>div:last-of-type {
  display: flex;
}
#mainRight #contacts>div>div>div {
  width: 32px;
  height: 32px;
  margin-left: 8px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mainRight #contacts>div>div>div:hover {
  background-color: var(--hover-overlay);
}
@media (min-width: 1260px) {
  #headerLeft {
    width: 320px;
  }
}
@media (max-height: 789px) and (min-width: 1100px), (max-width: 1379px) and (min-width: 1100px) {
  #headerCenter>a {
    max-width: calc(calc(590px - 32px) / 5);
  }
}
@media (max-width: 1099px) {
  #headerCenter>a {
    max-width: calc(15vw - 55px);
  }
  #headerCenter>a:nth-of-type(5),
  #headerCenter>a:last-of-type {
    display: none;
  }
}
@media (max-width: 700px) {
  #headerCenter {
    justify-content: flex-start;
  }
  #headerCenter>a:not(:last-of-type) {
    display: none;
  }
}
@media (min-height: 790px) {
  #mainCenter>div {
    max-width: 680px;
  }
  #mainCenter>div #afterStory {
    max-width: 680px;
  }
}
@media (max-width: 1260px) {
  #headerRight #user {
    display: none;
  }
}
@media (max-width: 1199px) and (min-width: 1100px) {
  #storyArea>div:last-of-type {
    display: none;
  }
}
@media (max-width: 1099px) {
  main>div:first-of-type {
    display: none;
  }
}
@media (max-width: 900px) {
  main>div:last-of-type {
    display: none;
  }
}
@media (max-width: 599px) {
  #storyArea>div:last-of-type {
    display: none;
  }
}
@media (max-width: 900px) {
  body {
    min-width: 450px;
  }
}
